{% extends "base.html" %}
{% block title %}FILMILLÁN - Búsqueda{% endblock %}

{% block content %}

		<div class="gtco-section gtco-products">
			<div class="gtco-container">
				<div class="row row-pb-sm">
					<h2>Realiza la búsqueda de una película o serie.</h2>
					<form action="/busqueda" method="post">

						<br />
              <input type="text" name="busqueda" size="60" value="{{busqueda}}"><br>
							<input type="radio" name="tipo" value="pelis" checked="checked"> Películas<br>
							<input type="radio" name="tipo" value="series"> Series<br>
							<input type="submit" name="Buscar" value="Buscar"/>
						<br />
        	</form>
					{% for i in lista %}
					<div class="col-md-4 single-feature">
						<h4 class="titulopeli">{{ i['titulo'] }}</h4></th>
						<td><img src = "https://image.tmdb.org/t/p/w300{{ i['poster'] }}" class="fototamanio" alt='Poster'></td>
					</div>
					{% endfor %}
					{% for i in listanoimg %}
					<div class="col-md-4 single-feature">
						<h4 class="titulopeli">{{ i['titulo'] }}</h4></th>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>


	{% endblock %}
