{% extends "base.html" %}
{% block title %}FILMILLÁN{% endblock %}

{% block content %}
	<div class="gtco-section gtco-products">
		<div class="gtco-container">
			<div class="row row-pb-sm">
				<div class="col-md-12 gtco-heading text-center">
					<h1>{{ lista['titulo'] }}</h1>
					<div class="col-md-12 single-feature">
						<td><img src = "https://image.tmdb.org/t/p/w300{{ lista['poster'] }}" class="col-md-4" alt='Poster'></td>
						<p class="col-md-8">  <strong>Sinopsis:</strong> {{ lista['sinopsis'] }}</p>
						<p class="col-md-8"> <strong>Fecha de estreno:</strong> {{ lista['year'] }}</p>
						{% for i in director %}
						<div class="col-md-4">
							<h4><strong>Director</strong></h4>
							{% if i['fotos'] == noimg %}
							<img src = "https://image.tmdb.org/t/p/w300{{ i['fotos'] }}" class="fotoactor" alt='director'>
							{% endif%}
							<h4>{{ i['director'] }}</h4>
						</div>
						{% endfor %}
					</div>

					<div class="col-md-12">
						<h3>Puntuaciones</h3>
						<div class="col-md-12">
							<div class="col-md-3 single-feature">
								<h4>The Movie DB</h4>
								<h4>{{ lista['notatmdb'] }}</h4>
							</div>
							{% for i in puntuacion %}
							<div class="col-md-3 single-feature">
							 <h4>{{ i['web'] }}</h4>
							 <h4>{{ i['valor'] }}</h4>
						 	</div>
							{% endfor %}
						</div>
					</div>

					<div class="col-md-12">
						<h3>Reparto</h3>
					{% for i in reparto %}
						<div class="col-md-3 single-feature">
							<h4>{{ i['actores'] }}</h4>
							<img src = "https://image.tmdb.org/t/p/w300{{ i['fotos'] }}" class="fotoactor" alt='actor'>
						</div>
					{% endfor %}
					<!-- <div class="col-md-12">
						<h3>Dirección</h3>
						{% for i in director %}
						<div class="col-md-3 single-feature">
							<h3>{{ i['director'] }}</h3>
						<img src = "https://image.tmdb.org/t/p/w300{{ i['fotos'] }}" class="fotoactor" alt='director'>
						</div>
						{% endfor %}
					</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
