{% extends "base.html" %}
{% block title %}FILMILLÁN{% endblock %}

{% block content %}

		<div class="gtco-section gtco-products">
			<div class="gtco-container">
				<div class="row row-pb-sm">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Últimos Lanzamientos</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-4 col-sm-4">
						<a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(../static/images/img_1.jpg)">
							<div class="overlay">
								<i class="ti-arrow-top-right"></i>
								<div class="copy">
									<h3>Paper Hot Cup</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<img src="../static/images/img_1.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
						</a>
						<a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(../static/images/img_2.jpg)">
							<div class="overlay">
								<i class="ti-arrow-top-right"></i>
								<div class="copy">
									<h3>Notepad Mockup</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<img src="../static/images/img_2.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
						</a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="#" class="gtco-item one-row bg-img animate-box" style="background-image: url(../static/images/img_md_1.jpg)">
							<div class="overlay">
								<i class="ti-arrow-top-right"></i>
								<div class="copy">
									<h3>Paper Pouch</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<img src="../static/images/img_md_1.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
						</a>
					</div>
					<div class="col-md-4 col-sm-4">
						<a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(../static/images/img_3.jpg)">
							<div class="overlay">
								<i class="ti-arrow-top-right"></i>
								<div class="copy">
									<h3>Fancy 3D</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<img src="../static/images/img_3.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
						</a>
						<a href="#" class="gtco-item two-row bg-img animate-box" style="background-image: url(../static/images/img_4.jpg)">
							<div class="overlay">
								<i class="ti-arrow-top-right"></i>
								<div class="copy">
									<h3>Hard Cover Book</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div>
							</div>
							<img src="../static/images/img_4.jpg" class="hidden" alt="Free HTML5 Website Template by GetTemplates.co">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
					<p><a href="http://gettemplates.co" target="_blank" class="btn btn-special">Visit Gettemplates.co</a></p>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
